<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>History Sink</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="content">
    <nav id="navbar" class="navbar has-shadow is-spaced">
      <div class="container">
        <div class="navbar-brand is-size-4 has-text-weight-bold">
          <a class="navbar-item" href="">History Sink</a>
        </div>
      </div>
    </nav>

    <section id="alerts">
      <div class="container">
        <% if info_flash = get_flash(@conn, :info) do %>
          <p class="notification is-info"
             role="alert">
            <%= info_flash %>
          </p>
        <% end %>
        <% if error_flash = get_flash(@conn, :error) do %>
          <p class="notification is-danger"
             role="alert">
            <%= error_flash %>
          </p>
        <% end %>
      </div>
    </section>

    <main role="main">
      <br/>
      <div class="container">
        <%= render @view_module, @view_template, assigns %>
      </div>
    </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
